table {
  height: 100%;
  background: white; /* Цвет фона таблицы */
  border-radius: 20px;
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
  border: darkgrey; /* Прячем рамку вокруг таблицы */
}
td, th {
  font: inter;
  padding: 5px; /* Поля вокруг текста */
  border-radius: 20px;
  border: 2px solid #F1F1F1; /* Параметры рамки */
}
tr {
  height: 80px;
}