.clients {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    &__fields {
        margin: 0 auto;
        height: 100%;
    }
    &__field {
        clear:both;
        text-align:right;
        line-height:50px;
        label {
            float:left;
            padding-right: 20px;
            font-size: 18px;
        }
        input {
            width: 350px;
            border-radius: 20px;
            padding-left: 15px;
            border: 1px solid #000;
            &:focus {
                outline: none;
            }
        }
    }
    &__options {
        display: flex;
        flex-direction: column;
        width: 215px;
        justify-content: space-between;
        button {
            font-size: 16px;
            height: 50px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            transition: 0.3s ease-in-out;
            &:hover {
                background-color: #3e8e41;
                cursor: pointer;
            }
        }
    }
}