header {
    position: fixed;
    display: flex;
    float: right;
    width: 90%;
    right: 0;
    height: 80px;
    background-color: #4CAF50;
    font-size: 1.5rem;
    align-items: center;
    color: #fff;
    z-index: 1;
    p {
        font-size: calc(24px + 8 * (100vw / 1280));
        padding-left: 20%;
    }
    input {
        margin: 0 auto;
        border: none;
        border-radius: 15px;
        height: 30px;
        width: 350px;
        padding: 15px;
    }
    input::-webkit-input-placeholder {
        text-align: center;
        }
        
        input:-moz-placeholder { /* Firefox 18- */
        text-align: center;
        }
        
        input::-moz-placeholder { /* Firefox 19+ */
        text-align: center;
        }
        
        input:-ms-input-placeholder {
        text-align: center;
        }   
}