.header-name {
    margin: 10px;
}
table {
     width: 100%; /* Ширина таблицы */
     background: white; /* Цвет фона таблицы */
     border-radius: 20px;
     border-collapse: collapse; /* Убираем двойные линии между ячейками */
     border: darkgrey; /* Прячем рамку вокруг таблицы */
 }
td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid darkgrey; /* Параметры рамки */
}